<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Domain classes mapping -->
		<mapping class="com.barclays.domain.Employee" />
		<mapping class="com.barclays.domain.Address" />
		<mapping class="com.barclays.domain.Email" />

	</session-factory>

</hibernate-configuration>